.mainBodyDiv {
  width: 100%;
  min-height: 30vmax !important;
  max-height: 100%;
  display: inline-flex;

  /* overflow-x: hidden; */
}

.deviceDiv {
  height: 100% !important;
  width: 35%;
}

.deviceChartDIV {
  min-height: 50% !important;
  max-height: 50%;
}

.serviceChartDiv {
  min-height: 50% !important;
  max-height: 50%;
}

.kpiDiv {
  width: 100%;
  height: 6.5vmax;

  display: flexbox;
  flex-direction: row;
  background-color: auto;
  /* flex-wrap:wrap */
}

.chartsDiv {
  width: 100%;
  height: auto;
  display: inline-block;
}

.sales-testDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.salesChart {
  width: 50%;
  padding: 1%;
}

.customerChart {
  width: 50%;
  padding: 1%;
}

@media only screen and (max-width: 768px) {
  .mainBodyDiv {
    
    display:flex;
    flex-direction: column;
  
  }
  .deviceDiv{
    order: 2;
    width: 100%;
    display: block;
    justify-content: center;
  }
  .sales-testDiv{
    display: flex;
    flex-direction: column;
  }
  .salesChart{
    width: 100%;
    padding: 1%;
  }
  .customerChart{
    width: 100%;
    padding: 1%;
  }
  .kpiDiv{
    flex-wrap: wrap;
  }
}
