.mainBodyDiv {
  width: 100%;
  min-height: 30vmax !important;
  max-height: 100%;
  display: grid;
  grid-gap: 0%;
  grid-template-columns: 27% 73%;
  grid-template-rows: 30vw 30vw;


  /* overflow-x: hidden; */
}

#mapIn {
  visibility: collapse;
  display: none !important;
}

#mapOut {
  visibility: visible;
  display: block;
}

.deviceDiv {
  min-height: 100% !important;
  width: 100%;
  padding-bottom: 2%;
  padding-left: 2%;
}

.deviceChartDIV {
  margin-bottom: 1%;
  height: 49%;
}

.serviceChartDiv {
  height: 49%;
}

.kpiDiv {
  width: 100%;
  height: 6.5vmax;

  display: flexbox;
  flex-direction: row;
  background-color: auto;
  /* flex-wrap:wrap */
}

.chartsDiv {
  width: 99%;
  height: auto;
  display: inline-block;

  padding-bottom: 0%;
  padding-left: 1%;
  padding-right: 1%;

}

.sales-testDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.salesChart {
  width: 50%;
  padding: 1%;
}

.customerChart {
  width: 50%;
  padding: 1%;
}

.mapComponent {
  grid-column: 1/3;
}

@media only screen and (max-width: 1100px) {
  .mainBodyDiv {
    /* background-color: blue; */
    padding-top: 0%;
    grid-row-gap: 3%;
    grid-template-columns: 35% 65%;
    
    
  }

  .chartsDiv {
    width: 100%;
    margin-top: 0%;
    grid-area: 1 / 1 / span 1 / span 2;
  }

  .deviceDiv{
    height: 60vh;
    margin-left: 4%;
    width: 100%;

  }

  .deviceChartDIV{
    min-height:50%;


  }

  .serviceChartDiv{
    min-height: 50% !important;

  }

  #mapIn {
    visibility: visible;
    display: flex !important;
    flex-direction: row;
  }

  #mapOut {
    display: none;
  }

  .mapComponent {
    grid-area: 2 / 2;
    margin-left: 2%;
    max-width: 100%;
    max-height: 60vh;
  }
}

@media only screen and (max-width: 400px) {
  .mainBodyDiv {
    /* background-color: blue; */
    padding-top: 0%;
    grid-template-columns: 50% 50%;
  }

  .chartsDiv {
    width: 100%;
    margin-top: 0%;
    grid-area: 1/1 / span 1 / span2;
    display: flex;
    flex-direction: column;
  }

  .kpiDiv {
    height: 27vw;
  }

  .sales-testDiv {
    display: flex;
    flex-direction: column;
  }

  .salesChart {
    width: 100%;
    height: 50vw;
    /* background-color: blue; */
  }

  .customerChart {
    width: 100%;
    height: 60vw;
    /* background-color: black; */
  }

  .deviceDiv {
    height: auto;
    grid-area: 2 / 1 / span 1 / span 2;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
  }

  .deviceChartDIV {
    min-width: 50%;
  }

  .serviceChartDiv {
    min-width: 50%;
  }

  #mapIn {
    visibility: visible;
    display: flex !important;
    flex-direction: row;
  }

  #mapOut {
    display: none;
  }

  .mapComponent {
    grid-area: 3 / 1 / span 1 / span2;
  }
}
