* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: ltr;
  justify-self: center;
  height: 100%;
}

.kpiheader {
  min-width: 100%;
  color: #0645ad;
  font-size: smaller;
  letter-spacing: 0.6px;
  text-align: center;
  margin: auto;
  font-weight: 600;
}
#totalSale {
  margin-left: 1%;
}

.subscriptionButton {
  min-width: 22%;
  margin: 1%;
  background-color: white;
  padding: 2%;
  align-items: center;
  font-size: 10px;

  border-width: 1px;
  border-radius: 8%;
  box-shadow: blue;
}

.subscriptionButton span {
  top: 2px;
  font-weight: bold;
  font-size: 12px;
}

.subscriptionButtonBar {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  justify-content: space-evenly;
  width: 100%;
}

#subscription {
  width: 28%;
}

#subscriptionExpiry {
  margin-top: 3px;
}

.kpiblock {
  min-height: 100%;
  max-height: 100%;
  width: 12.5%;
  border-style: solid;

  border-width: 1px;
  border-color: #f0f0f0;
  background: rgba(255, 255, 255, 0.363);

  margin-right: 0.5%;
  margin-left: 0.5%;

  padding: 0.5%;
  padding-bottom: 0px;

  float: none;
  font-family: Arial, Helvetica, sans-serif;

  border-radius: 5px;
  box-shadow: 1px 1px 3px #aaaaaa;

  align-items: center;
  align-content: center;
  text-align: center;
}
.kpidata {
  min-width: 100%;
  min-height: auto;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 3px;

  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;

  /* background-color: red; */
  font-size: 17px;
  font-weight: 300;
}

.kpiheader {
  margin-top: 4%;
  margin-bottom: -10%;

  font-size: 11px;
}

@media only screen and (max-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .kpiblock {
    height: 50%;
    width: 25vw;
  }

  #subscription {
    width: 50vw;
    grid-area: 2/2 / span 1 / span 2;
  }
}
@media only screen and (max-width: 768px) {
  /* .container {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: flex-start;

   
    
  }
  */
}
