*{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: ltr;
    justify-self:center;
    height: 100%;    
}

.kpiheader{
    color: #0645AD ;
    font-size: smaller;
    letter-spacing: 0.6px;
    text-align: center;
    margin:auto;
    font-weight:600;
    
}
.subscriptionButton{
    margin: 5px;    
  
}

.subscriptionButtonBar{
    display: inline;
    width: 100%;
   
}

.subscriptionDiv{
    width:28%;
    border-style: solid;
    height: 100%;
    border-width: 1px;
    border-color: #F0F0F0;
    background-color: #F5F5F5;
    margin: 0.3%;
    padding: 0.5%;
    padding-bottom: 0px;
    display: inline-block;
    float:none;
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 5px;
    box-shadow: 1px 1px 3px #aaaaaa;
}

.kpiblock{
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 1px;
    border-color: #F0F0F0;
    background-color: #F5F5F5;
    width: 12.5%;
    /* height: 100%; */
    height: auto;
    margin: 0.3%;

    padding: 0.5%;
    padding-bottom: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #aaaaaa;
   text-align: center;

}
.kpidata{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 3px;
    margin-top: 10px;;
}