<div class="container">
   

    <div class="kpiblock" id="totalSale">
        <div class="kpiheader">Total Sales</div>
       <div class="kpidata">{{kpiObj.sales.totalsales}}</div>
    </div>

    <div class="kpiblock" id="saleGrowth">
        <div class="kpiheader">Sale Growth</div>
       <div class="kpidata">{{kpiObj.salegrowth}}</div>
    </div>

    <div class="kpiblock" id="customerNumber">
        <div class="kpiheader">Customer</div>
        <div class="kpidata">{{kpiObj.customer.totalcustomer}}</div>
    </div>

    <div class="kpiblock" id="saleTarget">
        <div class="kpiheader">Sale Target</div>
        <div class="kpidata" >{{kpiObj.saletarget}}</div>
   </div>

    <div class="kpiblock" id="activeDevice">
        <div class="kpiheader">Device Active</div>
       <div class="kpidata">{{kpiObj.deviceactive}}</div>
    </div>

    
    
    <div class="kpiblock" id="subscription">
        <div class="kpiheader" id="subscriptionExpiry">Subscription Expiry</div>    
        <div class="subscriptionButtonBar" id="subscriptionButtonBar">
            <button class="subscriptionButton">Grace <br> <span style="color: blue;">{{kpiObj.subscription.grace}}</span></button>
            <button class="subscriptionButton">Today<br> <span style="color:red;">{{kpiObj.subscription.today}}</span></button>
            <button class="subscriptionButton">7 Days<br> <span style="color: orange;">{{kpiObj.subscription.firstweek}}</span></button>
            <button class="subscriptionButton">14 Days<br> <span style="color: green;">{{kpiObj.subscription.secondweek}}</span></button>
        </div>
    </div>

    <div class="kpiblock" id="notification">
        <div class="kpiheader">Notification</div>
    </div>
    
</div>