<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="details">
            <div class="profile-image">
                <img src="../../../assets/profile.jpg">
            </div>
            <div class="line-s"></div>
            <div class="details-1">
                <div class="content">Name: {{customerDetails.name}}</div>
                <div class="content">Emp_id: {{customerDetails.id}}</div>
                <div class="content">Company :{{customerDetails.company}} </div>
            </div>
            <div class="details-1">
                <div class="content">Email:{{customerDetails.email}}</div>
                <div class="content">Phone:{{customerDetails.phone}}</div>
                <div class="content">Address:{{customerDetails.address}}</div>
            </div>
        </div>
        <div class="line-s"></div>
        <div class="line"></div>
        <div class="table-graph">
            <div class="table">
                <table id="device">
                    <tbody>
                        <tr>
                            <th> Id</th>
                            <th>Device</th>
                            <th>Total Test</th>
                            <th>Current Package</th>
                            <th>Expiry</th> 
                       
                        </tr>
                        <tr *ngFor="let device of dataset" >
                          
                            <td (click)="deviceDialog(device.deviceId)"> {{device.deviceId}}</td>
                            <td (click)="deviceDialog(device.deviceId)">{{device.deviceName}}</td>
                            <td (click)="deviceDialog(device.deviceId)">{{device.testNum}}</td>
                            <td (click)="deviceDialog(device.deviceId)"> {{device.currentPackage}}</td>
                            <td (click)="deviceDialog(device.deviceId)">{{device.expiry}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="graph">
                <canvas id="deviceChart" style="padding: 10px;"> </canvas>
            </div>
        </div>
    </div>
</body>
</html>