

<body>
    <div class="container">
        <div class="details">
            <div class="details-L">
                <div class="content">Name: {{customerDetails.name}}</div>
                <div class="content">Emp_id: {{customerDetails.id}}</div>
                <div class="content">Company :{{customerDetails.company}} </div>
            </div>
            <div class="details-R">
                <div class="content">Email:{{customerDetails.email}}</div>
                <div class="content">Phone:{{customerDetails.phone}}</div>
                <div class="content">Address:{{customerDetails.address}}</div>
            </div>
        </div>
        <div class="table-graph">
            <div class="table">
         
                <table id="device">
                    <tbody>
                        <tr>
                            <th> Id</th>
                            <th>Device</th>
                            <th>Total Test</th>
                            <th>Current Package</th>
                            <th>Expiry</th> 
                       
                        </tr>
                        <tr *ngFor="let device of dataset" >
                          
                            <td (click)="deviceDialog(device.deviceId)"> {{device.deviceId}}</td>
                            <td (click)="deviceDialog(device.deviceId)">{{device.deviceName}}</td>
                            <td (click)="deviceDialog(device.deviceId)">{{device.testNum}}</td>
                            <td (click)="deviceDialog(device.deviceId)"> {{device.currentPackage}}</td>
                            <td (click)="deviceDialog(device.deviceId)">{{device.expiry}}</td>
                        </tr>
                        
                       
                    </tbody>
                </table>
            </div>
            <div class="chart">
               <canvas id="deviceChart"> </canvas>
            </div>
            
        </div>
    </div>
</body>
