.container{
    background: #ffffff;
    /* background: linear-gradient(to right bottom, #ffffff, #00ffd5); */
}
.profile-image{
    width: 100%;
    padding: 4vh;
    text-align: center;
}

.profile-image img{
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    
}
.line-s{
    border: 1px solid rgb(108, 143, 134);
    width: 90%;
    margin: auto;
}
.line{
    display: none;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;
}
.content{
    padding-top: 3vh;
}


.table-graph{
    margin-top: 4vh;
    display: block;
}
.table{
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

table,tr,td,th{
    border: 2px solid rgb(224, 220, 220);
    border-collapse: collapse;
    padding: 3vh;
}
.graph{
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .details{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .profile-image{
        width: 20%;
        
    }
    .details-1{
        width: 35%;
        margin: 2vh;
        font-family: "Gill Sans", sans-serif;
    }

    .line-s{
        display: none;
    }
    .line{
        display: flex;
        border: 1px solid rgb(53, 110, 96);
        width: 90%;
        margin: auto;
    }
    .table-graph{
        padding: 5vh;
        display: flex;
        height: 60vh;
        flex-direction: row;
        align-items: center;
    }

    .table{
        justify-content: center;
        text-align: center;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0%;
        margin: 0%;
    }
    
    table,tr,td,th{
        border: 2px solid rgb(224, 220, 220);
        border-collapse: collapse;
        padding: 3vh;
    }
    .graph{
        height:25vw;
    }
}
