<!-- 
<table *ngIf='customerDetails' id="customerDetails">
    <tr>
        <td>CustomerId</td>
        <td>{{customerDetails.id}}</td>
    </tr>
    <tr>
        <td>Customer Name</td>
        <td>{{customerDetails.name}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{customerDetails.email}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{customerDetails.address}}</td>
    </tr>
    <tr>
        <td>Comapny</td>
        <td>{{customerDetails.company}}</td>
    </tr>
</table>

<div id="chartDiv">
    <canvas id="deviceChart"></canvas>
</div>


 -->

<body>
    <div class="container">
        <div class="details">
            <div class="details-L">
                <div class="content">Name: {{customerDetails.name}}</div>
                <div class="content">Emp_id: {{customerDetails.id}}</div>
                <div class="content">Company :{{customerDetails.company}} </div>
            </div>
            <div class="details-R">
                <div class="content">Email:{{customerDetails.email}}</div>
                <div class="content">Phone:{{customerDetails.phone}}</div>
                <div class="content">Address:{{customerDetails.address}}</div>
            </div>
        </div>
        <div class="table-graph">
            <div class="table">
                <table>
                    <tbody>
                        <tr>
                            <th>Device Id</th>
                            <th>Device Name</th>
                            <th>Total Test</th>
                            <th>Expiry</th>
                           
                        </tr>
                        <tr>
                            <td></td>
                            <td>12344</td>
                            <td>12344</td>
                            <td>12344</td>
                            
                        </tr>
                        
                       
                    </tbody>
                </table>
            </div>
            <div class="graph">
                <canvas id="deviceChart"></canvas>
            </div>
        </div>
    </div>
</body>
