<div class="container">
    <div class="kpiblock" id="totalSale">
        <div class="kpiheader">Total Sales</div>
    </div>
    <div class="kpiblock" id="saleGrowth">
        <div class="kpiheader">Sale Growth</div>
    </div>
    <div class="kpiblock" id="customerNumber">
        <div class="kpiheader">Customer</div>
    </div>
    <div class="kpiblock" id="saleTarget">
        <div class="kpiheader">Sale Target</div>
    </div>
    <div class="kpiblock" id="qos">
        <div class="kpiheader">Quality Index</div>
    </div>
    <div class="kpiblock" id="notification">
        <div class="kpiheader">Notification</div>
    </div>
    <div class="kpiblock" id="subscription">
        <div class="kpiheader">Subscription Expiry</div>
        <div id="subscriptionButtonBar">
            <button>
                Grace <br> <span style="color: blue;">00</span>
            </button>
            <button class="subscriptionButton">Today<br> <span style="color:red;">00</span></button>
            <button class="subscriptionButton">7Days<br> <span style="color: orange;">00</span></button>
            <button class="subscriptionButton">14Days<br> <span style="color: green;">00</span></button>
        </div>
    </div>
    <div class="kpiblock" id="activeDevice">
        <div class="kpiheader">Device Active</div>
    </div>
</div>