.chart{
   width: 100%;
   height: 80%;
}
button{
    border-color:white;
    background:initial ;
    position: relative;
    float: right;
}
.data{
    padding: 10px;
    color: blue;
    
    
}
.content{
padding: 3px;
;
}
