
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="chartDiv" >  

    <div id="title">
        Customer and Test Details
    </div>

    <a routerLink="customers" id="barsIcon">
        <i class="fa fa-bars"></i>
    </a>

        <button (click)='sortByDevice()'>Device</button>
        <button (click)='sortByTest()'>Test conducted</button>
  
        
        <canvas id="customerChart" style="margin-bottom: 10%;  max-height: 90%;" ></canvas>
    

</div>