button {
  border: none;
  background-color: inherit;
  color: #000099;
  font-size: 70%;
  font-weight: bold;
  padding: 2px;
  margin: 5px;
  margin-left: 5px;
  margin-top: 2%;
}
button:focus {
  color: blue;
  text-decoration: underline;
}

#title{
  font-size: 110%;
  font-variant-caps: all-small-caps;
  font-weight: bolder;
  align-self: center;
  width: 100%;
  text-align: center;
  color: rgb(86, 57, 214);
  margin-bottom: -1px;
}


#chartDiv {
  width: 97% !important;
  height: 19vmax;
  background: rgba(255, 255, 255, 0.363);
  padding: 2%;
  padding-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 8px;

  position: relative;
}

#barsIcon{
  min-height: 20%;    
  margin-top: 10%;
  background-color: white;
  border-radius: 10%;

  font-size: 70%;
  padding: 0.2%;
  border-color: rgba(0, 255, 255, 0);
  font-weight: bold; 
}

#device{
  margin-left: 40px;
}