<div class="filterDiv">
    <div class="filterButton">
        <button (click)="setTime(week)">week</button>
        <button (click)="setTime(month)">Month</button>
        <button (click)="setTime(year)">Year</button>
    </div>

    <div class="filterTab">
        <form>
            <select (change)="packageClick($event.target.value)">
                <option value="allpackage"> All Package</option>
                <option  *ngFor="let package of packageList" 
                        value={{package}}>
                            {{package}}
                </option>
            </select>
        </form>
    </div>
    <div class="filterTab">
        <form>
            <select>
                <option value="alldevice"> All Device</option>
            </select>
        </form>

    </div>
</div>

<div id="chartDiv">
    <canvas id="salesChart"></canvas>
</div>