<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="saleDiv">

    <div id="title">
        Package Sales Details
    </div>

    <div class="filterDiv">
        <div class="filterButton">
            <button (click)="setTime(week)">Week</button>
            <button (click)="setTime(month)">Month</button>
            <button (click)="setTime(year)">Year</button>
        </div>
    
        <div class="filterTab ">
            <form>
                <select id="dropdown" (change)="packageClick($event.target.value)">
                    <option value="All Package"> All Package</option>
                    <option  *ngFor="let package of packageList" 
                            value={{package}}>
                                {{package}}
                    </option>
                </select>
            </form>
        </div>
        
    </div>


<div id="chartDiv">
    <canvas id="salesChart" style="max-height: 85%;"></canvas>
</div>

<div id="nextPrev" class="filterButton">
            <button id="nextPrevId" (click)="timeSpanLess()"> &#5130; </button>
            <button id="nextPrevId" (click)="timeSpanMore()">&#5125; </button>
</div> 
        

</div>