/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
  resize: horizontal;
  background-color: rgba(235, 236, 243, 0.137);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
